  header {
      color: black;
      text-align: center;
    }

  header img {
  	height: 100%;
  	width: 100%;
  }

  header h1 {
  	margin-top: -250px;
    margin-bottom: -25px;
  	font-size: 250px;
    font-family: 'Raleway', sans-serif;
    color: white;
  }

#buzz img {
  width: 

}

.jumbotron {
  background-color: rgba(204,255,153,0.5);
}

/* Navigation bar
-------------------------------------------------- */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(41, 99, 2, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 20px;
    background-color: rgba(247, 218, 0, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(41, 99, 2, 1);
    background-color: rgba(247, 218, 0, 1);

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(243, 126, 11, 1);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(41, 99, 2, 1);
    background-color: rgba(252, 235, 109, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #fceb6d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #fceb6d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fceb6d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f7da00;
}

/* Footer styles
-------------------------------------------------- */

.footer-distributed{
  background-color: #ff6633;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 14px sans-serif;
  text-align: left;

  padding: 50px 60px 40px;
  margin-top: 80px;
  overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}



.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
  padding-right: 20px;
}


/* Footer social icons */

.footer-distributed .footer-icons{
  margin-top: 40px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 5px 42px 0 0;
  color: #ffffff;
}

.footer-distributed .footer-company-name{
  color:  #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 30px;
}

/* The contact form */

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  rgba(204,255,153);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  rgba(41, 99, 2, 1);

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color:  #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #5c666b;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color: rgba(247, 218, 0, 1);
  color: rgba(41, 99, 2, 1);
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
    margin-top: 40px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}



