  header {
      color: black;
      text-align: center;
    }

  header img {
  	height: 100%;
  	width: 100%;
  }

  header h1 {
  	margin-top: -232px;
  	font-size: 250px;
  }

  .3column {
    
  }